@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #000510;
    padding-left: 5vw;
    padding-right: 5vw;
    scroll-behavior: smooth;
}



header{
    width: 80%;
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: #000510;
}
header nav{
    width: 100%;
    display: flex;
    height: 70px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    /* background-color: blueviolet; */
}
header .name-box1 .myname{
    color: #CCD6F6;
    cursor: pointer;
    font-weight: 300;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}
header ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #CCD6F6;
    padding: 20px;
    font-weight: 200;
    cursor: pointer;
}
header  ul li a:hover{
    color: #4FCBB0;
}
header  ul li a::after{
    content: "";
    width: 0%;
    height: 3%;
    position: absolute;
    background-color: #4FCBB0;
    bottom: 1px;
    left: 0;
    transition: all 0.4s;
}
header  ul li a:hover::after{
    width: 100%;
}
header  ul #icon{
    display: none;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
main .main-box{
    width: 100%;
    height: 550px;
    /* border-radius: 15px; */
    margin-top: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    display: flex;
    overflow: hidden;
    border-bottom: 1px solid #CCD6F6;
    /* background-color: #4FCBB0; */
}
main .main-box .allInfo{
    width: 60%;
}
main .main-box .name {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
main .main-box .name h3,#sub,p{
    color: #CCD6F6;
}
main .main-box .name h1{
    font-weight: 400;
    font-size: 44px;
    color: #CCD6F6;
}
main .main-box .name p{
    font-size: 18px;
    margin-top: 0.6rem;
}
main .main-box .icon a{
    text-decoration: none;
    margin-right: 10px;
}
main .main-box .icon i{
    color: #CCD6F6;
    font-size: 40px;
    
}
.change-my-color{
    fill: #CCD6F6;
}
main .main-box .icon i:hover{
    cursor: pointer;
    color: #4FCBB0;
}
#leetcode:hover{
    cursor: pointer;
    fill: #4FCBB0;
}
.allInfo button{
    margin-top: 20px;
    width: 200px;
    padding: 16px 14px;
    font-size: 18px;
    background-color: transparent;
    color: #CCD6F6;
    border-radius: 12px;
    border-color: #4FCBB0;
    cursor: pointer;
}
.allInfo button:hover{
    background-color: #ccd6f621;
}
main .main-box .img-box{
    width: 350px;
    height: 350px;
    
    position: relative;
   
    animation: bounce 3.5s infinite ease-in alternate-reverse;
}
@keyframes bounce {

    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-30px);
    }
    
}
main .main-box .img-box img{
    width: 100%;
    height: 100%;
    border: none;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    object-fit: cover;
    transition: all 0.5s linear;
    transform: scale(2);
}
main .main-box .img-box img:hover{
    transform: scale(1);
}
main #section1{
    width: 100%;
    height: 650px;
    /* background-color: #006AE8; */
    border-bottom: 1px solid #CCD6F6;
}
main #section1 h2{
    color: #4FCBB0;
    position: relative;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}
main #section1 .edu{
    width: 100%;
    height: 500px;
    /* background-color: #233554; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
}
main #section1 .edu .ug{
    width: 550px;
    /* height: 300px; */
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #4FCBB0;
    /* display: flex; */
    /* background-color: #1D2532; */
    flex-wrap: wrap;
}
main #section1 .edu .ug figure{
    width: 60px;
    margin-right: 10px;
}
main #section1 .edu .ug figure img{
    width: 100%;
}
main #section1 .edu .ug .deg1{
    font-size: 17px;
    color: #fff;
    margin-right: 7px;
    height: 30px;
}

main #section1 .edu .ug .col1{
    color: #CCD6F6;
}
main #section1 .edu .ug .loc1{
    color: #fff;
}
main #section1 .edu .ug .year1{
    /* font-size: 15px; */
    color: #CCD6F6;
}
main #section1 .edu .ug .points{
    width: 100%;
    /* height: 50px; */
    margin-top: 10px;
    /* background-color: #fff; */
    padding: 15px;
}
main #section1 .edu .ug .points li{
    color: #CCD6F6;
    font-size: 15px;
}

main #section1 .edu .pg{
    width: 550px;
    /* height: 300px; */
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #4FCBB0;
    /* display: flex; */
    /* background-color: #1D2532; */
    flex-wrap: wrap;
}

main #section1 .edu .pg figure{
    width: 75px;
    margin-right: 10px;
}

main #section1 .edu .pg figure img{
    width: 100%;
}

main #section1 .edu .pg .deg2{
    font-size: 20px;
    color: #fff;
    margin-right: 7px;
    height: 30px;
}


main #section1 .edu .pg .col2{
    color: #CCD6F6;
}

main #section1 .edu .pg .loc2{
    color: #fff;
}
main #section1 .edu .pg .year2{
    font-size: 15px;
    color: #CCD6F6;
}

main #section1 .edu .pg .points{
    width: 100%;
    /* height: 50px; */
    margin-top: 10px;
    /* background-color: #fff; */
    padding: 15px;
}
main #section1 .edu .pg .points li{
    color: #CCD6F6;
   font-size: 15px;
}
















main #section2{
    width: 100%;
    height: 400px;
    /* background-color: antiquewhite; */
    padding-left: 100px;
    border-bottom: 1px solid #CCD6F6;
}

main #section2 h2{
    color: #4FCBB0;
    margin-top: 20px;
    position: relative;
    font-size: 30px;
    text-align: center;
}
main #section2 .allimg{
    width: 100%;
    height: 100%;
    /* height: 300px; */
    /* margin-top: 30px; */
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* background-color: #006AE8; */
}
main #section2 figure{
    height: 100%;
    display: flex;
    gap: 20px;
}
main #section2 figure img{
    /* width: 100%; */
    height:22%;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s ease;
}
main #section2 figure img:hover{
   transform: scale(1.1);
}








main #section3{
 width: 100%;
 height: 700px;
 padding-left: 100px;
 border-bottom: 1px solid #CCD6F6;
}
main #section3 h2{
    color: #4FCBB0;
    position: relative;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}


main #section3 .allprojects{
    width: 100%;
    height: 100%;
    /* background-color: #0276FF; */
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #0276FF;
}
main #section3 .allprojects .box-1{
    width: 100%;
    height: 100px;
    border: 1px solid #4FCBB0;
    overflow: hidden;
    transition: 0.3s ease;
}



  
main #section3 .allprojects .box-2{
    width: 100%;
    height: 100px;
    border: 1px solid #4FCBB0;
    overflow: hidden;
    transition: 0.3s ease;
}


main #section3 .allprojects .box-3{
    width: 100%;
    height: 100px;
    border: 1px solid #4FCBB0;
    overflow: hidden;
    transition: 0.3s ease;
}
main #section3 .allprojects .flow{
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    align-items: center;
    border-left: none;
    border-right: none;
    overflow: hidden;
    position: relative;
    /* color: red; */
}
main #section3 .allprojects .flow:hover{
    cursor: pointer;
}
main #section3 .allprojects .flow h6{
    color: #CCD6F6;
    font-size: 25px;
}

main #section3 .allprojects .flow figure img{
    width: 40px;
}
main #section3 .allprojects .flow .allinks a{
   
    color: #CCD6F6;
    text-decoration: none;
    margin-right: 15px;
}
main #section3 .allprojects .flow::before{
    content: "";
    width: 0%;
    height: 100%;
  
    position: absolute;
    z-index: -1;
    transition: 0.3s linear;
}
main #section3 .allprojects .flow:hover::before{
    width: 100%;
    /* color: #000; */
    background-color: #1F1F1F;
}





main #section4{
    width: 100%;
    height: 700px;
    /* background-color: antiquewhite; */
    padding-left: 100px;
}
main #section4 h2{
    color: #4FCBB0;
    position: relative;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 20px;
}

main #section4 .contact{
    width: 100%;
    height: 500px;
    /* background-color: chocolate; */
    margin-top: 40px;
    /* gap: 60px; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
main #section4 .contact .box11{
 width: 50%;
 height: 100%;
}
main #section4 .box11 iframe{
    width: 100%;
    height: 100%;
}
main #section4 .contact form{
    width: 50%;
    padding-top: 40px;
    padding-left: 110px;
    background-color: #000;
}
main #section4 .contact form h5{
    color: #CCD6F6;
    font-size: 20px;
    margin-bottom: 15px;
}
main #section4 .contact form i{
    color: #CCD6F6;
    font-size: 20px;
    padding: 5px;
}
main #section4 .contact form input{
    width: 400px;
    font-size: 20px;
    padding: 10px 0 0 0;
    margin-bottom: 30px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    color: #CCD6F6;
}
main #section4 .contact form textarea{
    background-color: transparent;
    font-size: 20px;
    color: #CCD6F6;
    outline: none;
    padding: 5px;
    resize: none;
}
::placeholder{
    color: #CCD6F6;
}

main #section4 .contact form button{
  margin-top: 15px;
  align-items: center;
  appearance: button;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:active {
  background-color: #006AE8;
}

button:hover {
  background-color: #1C84FF;
}

footer{
    width: 100%;
    height: 50px;
    /* background-color: #CCD6F6; */
}
footer p{
    text-align: center;
    font-size: 20px;
    color: #CCD6F6;
}





/*  Media Queries  */


@media (max-width:1400px) {

    main .main-box .name {
        /* padding-left: 50px; */
    }

    
}
@media (max-width:1370px) {

    main .main-box .name h2{
        font-size: 21px;

    } 
}
@media (max-width:1370px) {

    main .main-box .name h2{
        font-size: 21px;

    } 
}
@media (max-width:1225px) {

    main .main-box .name h1{
        font-size: 40px;
    }

    main .main-box .name h2{
        font-size: 20px;

    } 
}
@media (max-width:1200px) {

    main .main-box .name h1{
        font-size: 40px;
    }

    main .main-box .name h2{
        font-size: 19px;

    } 
}
@media (max-width:1200px) {

    main .main-box .name h1{
        font-size: 40px;
    }

    main .main-box .name h2{
        font-size: 19px;
        line-height: 25px;

    } 
}
